/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* Theme font variables */
@theme {
  --font-urbanist: "Urbanist", sans-serif;
  --font-inter: "Inter", sans-serif;
}

/* Base font setups */
@layer base {
  .font-urbanist {
    font-family: var(--font-urbanist);
    font-weight: 500;
  }

  .font-inter {
    font-family: var(--font-inter);
    font-weight: 500;
  }
}

/* Heading variants using Urbanist by default */
@layer components {
  .heading-xl {
    @apply font-urbanist font-medium text-[72px] leading-[86px] tracking-[0] text-center;
  }
  .heading-lg {
    @apply font-urbanist font-medium text-[48px] leading-[58px] tracking-[0] text-center;
  }
  .heading-md {
    @apply font-urbanist font-medium text-[36px] leading-[44px] tracking-[0] text-center;
  }
}
